
.logo {
    color: black;
    font-family: var(--secondery-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-cl);
  }
  
  .logo__light {
    color: var(--light-txt-cl);
  }
  
  .logo__dark {
    color: var(--bold-txt-cl);
  }
  