.header {
    background-color: var(--light-txt-cl);
}
  
  .header__container {
  
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }
  
  .header__item {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .header__group {
    font-weight: 500;
    letter-spacing: 0.02em;
  

    & :hover,
    & :focus {
      color: var(--accent-txt-cl);
      fill: var(--accent-txt-cl);
    }
    
  }

  @media screen and (min-width: 768px) {
    .big-content {
      display: flex;
    }
  }