.header {
    background-color: var(--light-txt-cl);
}
  
  .header__container {
  
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

  }
  
  .header__item {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }


  .header__group {
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
    

  @media screen and (max-width:767px) {
    .header__contact:not(:last-child) {
      margin-bottom: 32px;
  }

  }

    & :hover,
    & :focus {
      color: var(--accent-txt-cl);
      fill: var(--accent-txt-cl);
    }
    
  }


  @media screen and (max-width: 767px) {
    .big-content {
      display: none;
    }
  }

  @media screen and (min-width:768px) {
    .big-content {
      display: flex;
      align-items: center;
      margin-left: auto;
      width: 100%;
    }
  }

  @media screen and (min-width:768px) {
    .header__contact {
      margin-left: auto;
    }
    .header__contact:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width:1200px) {
    .header__group {
      display: flex;
      gap: 30px;
      margin-left: auto;
    }
  }

