.section {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-txt-cl);
  }

  .section__title {
    // margin-bottom: 50px;
    font-weight: 700;
    // font-size: 36px;
    // line-height: 1.17;
    // text-align: center;
    color: var(--bold-txt-cl);
  }