:root {
    --main-font: Roboto, sans-serif;
    --secondery-font: Raleway, sans-serif;
  
    --main-txt-cl: #757575;
    --bold-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    --light-txt-cl: #ffffff;
  
    /* Background color */
    --primary-bc-cl: #f5f4fa;
    --secondary-bc-cl: #2f303a;
  
    --anim-tm: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }